<!DOCTYPE html>
<html>
  <head>
    <title>JobsAggregation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% if current_user.present? %>
      <meta name="webapi-token" content="<%= current_user.auth_token %>">
    <% end %>

    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid' id="app">
      <router-view></router-view>

      <%= yield %>
    </div>
  </body>
</html>
